@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #151f28;
    text-align: center;
    margin: 10px 0;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background: #1c2833;
    margin-bottom: 60px;
}

.navigation a {
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    margin: 0 20px;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #57f1ec;
    font-size: 1.3em;
    border: solid 2px #1c2833;
    transition: border 1s ease, border 1s ease;
   
}

.navigation a::after{
    content: "";
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: -1px;
    background: rgb(98, 229, 252);
    width: 90%;
    height: 3px;
    transform-origin: right;
    transform: scale(0);
    transition: transform 0.75s ease, transform 0.75s ease;

}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}

h1 {
    color: #ffffff;
    font-size: 1.75em;
    font-weight: 700;
    margin-bottom: 40px;
}

#videoFeed {
    width: 80%;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    max-width: 100%;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

button {
    font-size: 1.15em;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #4cc3bf;
    color: #fff;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}

button:hover {
    background-color: #16a085;
    transform: scale(1.05);
    
}

button:focus {
    outline: none;
}

.code-container {
    max-height: 400px; 
    overflow-y: auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f4f4f4;
    width: 80%;
}
pre {
    margin: 0; 
}
.code-link {
    margin-top: 20px;
    display: block;
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    margin: 0 20px;
    padding: 10px 20px;
    transition: color 0.3s ease;
    margin-top: 30px;
}

.code-link :hover {
    color: #57f1ec;
    font-size: 1.3em;
    border: solid 2px #1c2833;
    transition: border 1s ease, border 1s ease;
   
}

h2{
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    margin: 40px;
}